@model App.Web.Core.Models.Targeting.TargetingViewModel
<div class="modal fade" id="updateTargetSpecificModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <form asp-controller="targeting"
              asp-action="createorupdateperuser" asp-route-applicationId="@ViewData["ApplicationId"]"
              method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">New Rule</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div asp-validation-summary="All"></div>
                    <input type="hidden" id="updateTargetSpecificModal-input-id" name="id" />
                    <input type="hidden" name="EnvironmentId" value="@Model.SelectedEnvironment.Id" />
                    <div class="form-group">
                        <label for="targetProperty">Property</label>
                        <input type="text" name="property" class="form-control" id="updateTargetSpecificModal-input-property" aria-describedby="propertyHelp" placeholder="Property name" value="@Model.">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="TargetOption" id="updateTargetSpecificModal-input-option-1" value="1">
                        <label class="form-check-label" for="IsInTheList">
                            Is in the list
                        </label>
                        <br />
                        <input class="form-check-input" type="radio" name="TargetOption" id="updateTargetSpecificModal-input-option-2" value="2">
                        <label class="form-check-label" for="isNotInTheList">
                            Is not in the list
                        </label>
                        <br />
                        <input class="form-check-input" type="radio" name="TargetOption" id="updateTargetSpecificModal-input-option-3" value="3">
                        <label class="form-check-label" for="contains">
                            Contains
                        </label>
                        <br />
                        <input class="form-check-input" type="radio" name="TargetOption" id="updateTargetSpecificModal-input-option-4" value="4">
                        <label class="form-check-label" for="notcontains">
                            Not Contains
                        </label>
                    </div>
                    <br />

                    <div class="form-group">
                        <label for="targetTextArea">List (Comma separated)</label>
                        <textarea class="form-control" name="list" id="updateTargetSpecificModal-input-list" rows="3" placeholder="1,2,3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>